* {
    margin: 0;
    padding: 0;
    
    
}

ol, ul {
    list-style: none;
}



.navigation{
    margin: 100px;
    display: flex;
    flex-direction: column;
    width: 28px;
    height: 28px;
    gap: 50px;
    align-items: center;
}

.container{
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: -1;
    display: flex;
    width: 1329px;
    height: 771px;
    border-radius: 25px;
    background-color: #262525;
    overflow: hidden;
    

    .main-image{
        position:absolute;
        margin-left:835px;
    }

    .first-section{
        position: relative;
        width: 1100px;
        height: 400px;
        margin-top: 150px;
        margin-left: 170px;
        display: flex;
        gap: 20px;
        justify-content: left;
        z-index: 2;
        flex-wrap: wrap;
    }

    

.box{
    width: 245px;
    height: 153px;
    background-color: rgb(16, 17, 17);
    opacity: 1;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
    
}    
.box1{
    width: 775px;
    height: 195px;
    background-color: rgb(16, 17, 17);
    opacity: 1;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}
.box2{
    width: 377.5px;
    height: 157px;
    background-color: rgb(16, 17, 17);
    opacity: 1;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}


.box3{
    position: absolute;
    margin-top: 205px;
    margin-left: 800px;
    
    width: 258px;
    height: 338px;
    background-color: rgb(16, 17, 17);
    opacity: 1;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)

}
}
.menu{
    background-color: transparent;
    .first{
         width: 21px;
         height: 1px;
         background-color: rgb(255, 255, 255);
         margin: 6px 0;
        }
    .second{
         width: 15px;
         height: 1px;
         background-color: rgb(255, 255, 255);
         margin: 6px 0;
        }
    .third{
         width: 10px;
         height: 1px;
         background-color: rgb(255, 255, 255);
         margin: 6px 0;
        }           
}

.icon{
    all: unset;
    cursor: pointer;
    background-color: transparent;
    outline: none;
}

.home{
    width: 30px;
    height: 30px;
    padding: 25px;
    background-color: #4169e111;
    border-radius: 25%;
}

.header-text{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: 100px;
    left: 200px;
}

.green-blur{
    position: absolute;
    width: 148px;
    height: 122px;
    z-index: -2;
    background-color: #1bafaaa3;
    filter: blur(95px)
     
}


